* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 62.5%;
}

.row {
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  border: 1px solid #ccc;
  border-top: none;
}
.header a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 8px;
  cursor: pointer;
  color: blue;
}

.header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #f9d342; /* choose your outline/underline color */
  transition: width 0.3s ease-in-out;
}

.header a:hover::after {
  width: 100%;
}

.navbar {
  width: 85%;
  margin: 0 auto;
}
.navbar,
.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.content {
  padding: 100px 0;
}

.todolist {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sidebar {
  border: 1px solid #ccc;
  font-size: 2rem;
  border-radius: 12px;
  text-align: center;
}

.category-title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2.3rem;
  border-bottom: 1px solid #ccc;
}

.planning,
.ongoing,
.finished {
  width: 33.33%;
  padding: 30px 0;
  border: 1px solid #ccc;
  margin: 15px 0;
}

.planning {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.finished {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.planning,
.ongoing {
  border-right: 1px solid #ccc;
}

.planning .category-title {
  color: lightgreen;
}
.ongoing .category-title {
  color: #ff2c2c;
}
.finished .category-title {
  color: #666;
}
